<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Event Practice | Create By A-Al-Mamun</title>

    <link rel="stylesheet" href="style.css">

    <!-- Vue 3 CDN Link -->
    <script src="http://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>Question and Answer</h1>

        <div class="qa-body" v-for="t in modelTest">
            <span>{{ t.quiz }}</span>
            <div class="op" v-for="o in option">
                <button >A : {{ o.a }}</button>
                <button >A : {{ o.b }}</button>
                <!-- <button >B : {{ o.A }}</button> -->
            </div>
            <br><br><hr><br><br>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>