*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{padding: 50px 50px;}

.qa-body{
    margin-top: 50px;
}
.op{
    margin: 10px 0;
}
.op button{
    margin: 0 10px;
    padding: 5px;
}

.correct{
    background: green;
    border: 0;
    color: #fff;
}
.inCorrect{
    background: red;
    border: 0;
    color: #000;
}


